.pop-modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .pop-modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000077;
    will-change: opacity;
    transition: opacity 0.2s ease-in;

    &.show {
      opacity: 1;
    }
  }

  .modal-body {
    text-align: center;
    background-color: white;
    padding: 20px 30px;
    border-radius: 20px;
    width: 290px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
